<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tienda Violeta Bazar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<style>
  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .navbar form input {
    border-radius: 0px;
    border: 1px solid white;
  }

  .navbar form button {
    color: white;
    border-radius: 0px;
    border: 1px solid white;
  }

  .navbar form button:hover {
    background: lightsalmon;
    border: 1px solid white;
  }

  .shop-container {
    margin-top: 80px;
  }

  .shop-container .card {
    margin-bottom: 25px;
  }

  .shop-container .card img {
    cursor: pointer;
    opacity: .4;
  }

  .shop-container .card img:hover {
    animation: reveal 1.5s forwards;
  }

  .shop-container .card-footer a {
    border: 2px solid midnightblue;
    margin: 5px 0px;
  }

  .shop-container .card-footer a:hover {
    background-color: lightsalmon;
  }

  .shop-container .to-shop:hover {
    background-color: lightsalmon;
  }

  /* responsive design */
  @media all and (max-width: 767px) {
    .shop-container .card img {
      opacity: 1;
    }

    .shop-container .card img:hover {
      animation: none;
    }
  }

  /* animations */
  @keyframes reveal {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }

</style>

<body>
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: midnightblue">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="logo.png" width="80px" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <svg style="color: white;" id="i-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" />
          </svg>
        </span>
      </button> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" style="color: white;" href="/">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/about">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/contact">Contacto</a>
          </li>
        </ul>
        <form method="POST" action="/filter-products" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos" aria-label="Buscar" name="term">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <a href="/cart" class="float-right" style="margin-left: 1%; cursor: pointer;">
          <svg style="color: white;" id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
            <circle cx="25" cy="27" r="2" />
            <circle cx="12" cy="27" r="2" />
          </svg>
        </a>
      </div>
    </div>
  </nav>

  <div class="container shop-container">
    <div class="row">
      <% products.map(item => { %>
        <div class="col-sm-12 col-md-3">
            <div class="card">
              <a href=<%= `/products?name=${item.name.replace(/ /g, "-")}&price=${item.price}&img=${item.img.replace('products/', '')}&id=${item._id}` %>><img src="<%= item.img %>" class="card-img-top img-fluid"></a>
              <div class="card-body" style="padding: 0;">
                <h5 class="card-title text-center" style="color: midnightblue; margin: 10px 0px;"><%= item.name %></h5>
              </div>
              <div class="card-footer">
                <div class="row clearfix">
                  <div class="col-xs-6 mx-auto">
                    <a href=<%= `/add-to-cart?name=${item.name.replace(/ /g, "-")}&price=${item.price}&img=${item.img.replace('products/', '')}&id=${item._id}&quantity=1&offset=${item.price}` %> class="btn add" style="display: inline-block;">
                      <svg id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="color: midnightblue; vertical-align: middle;">
                        <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
                        <circle cx="25" cy="27" r="2" />
                        <circle cx="12" cy="27" r="2" />
                      </svg>
                      <span style="color: midnightblue; vertical-align: middle;">Añadir</span>
                    </a>
                  </div>
                  <div class="col-xs-6 mx-auto">
                    <a style="display: inline-block;" href=<%= `/products?name=${item.name.replace(/ /g, "-")}&price=${item.price}&img=${item.img.replace('products/', '')}&id=${item._id}` %> class="btn info">
                      <svg id="i-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="color: midnightblue; vertical-align: middle;">
                        <path d="M16 2 L16 30 M2 16 L30 16" />
                      </svg>
                      <span style="color: midnightblue; vertical-align: middle;">Info</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% }) %>
    </div>

    <% if(message != null) { %>
      <div class="toast-wrapper d-flex justify-content-center" style="position: relative;">
        <div class="toast d-flex justify-content-center" style="position: absolute; top: 70%; width: 300px; background-color: midnightblue;" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
          <div class="toast-body" style="color: white; font-weight: bold;"><%= message %></div>
        </div>
      </div>
    <% } %>

    <% if(toShop) { %>
      <a style="display: inline-block; border: 2px solid midnightblue; margin: 5px 0px;" href="/" class="btn float-left to-shop">
        <svg style="color: midnightblue; vertical-align: middle;" id="i-chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="15" height="15" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
          <path d="M20 30 L8 16 20 2" />
        </svg>
        <span style="color: midnightblue; vertical-align: middle;">Tienda</span>
      </a>
    <% } %>

  </div>

  <script>
    $('.toast').toast('show');
  </script>

</body>
</html>